<% provide(:title, 'Home') %>

  <div class="page-header">
  </div>
  <div class="center emertron">
    <!-- image in css file -->
  </div>
  <div class ="container center">
    <h1 class="center">Welcome to Craftwork</h1>
    <%= link_to "Sign in", signin_path, class: "btn btn-lg btn-default" %>
  </div>
 